[Unit]
Description=Drova Socket Service (%i)
After=network.target

[Service]
User=root
EnvironmentFile=/opt/drova-desktop/%i.env
WorkingDirectory=/opt/drova-desktop
ExecStart=/opt/drova-desktop/.venv/bin/drova_socket
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
