[Unit]
Description=Drova Poll Service (%i)
Wants=network-online.target
After=network-online.target

[Service]
User=root
EnvironmentFile=/opt/drova-desktop/%i.env
WorkingDirectory=/opt/drova-desktop
ExecStart=/opt/drova-desktop/.venv/bin/drova_poll
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
